{{define "navigation"}}<nav aria-label="Primary">
  <ul>
    <li><a href="{{.InternalURL "/"}}"{{if eq .Route "/"}} aria-current="page"{{end}}>Overview</a></li>
    <li><a href="{{if .IssueListURL}}{{.InternalURL .IssueListURL}}{{else}}{{.InternalURL "/issues"}}{{end}}"{{if eq .Route "/issues"}} aria-current="page"{{end}}>Issues</a></li>
    <li><a href="{{.InternalURL "/activity"}}"{{if eq .Route "/activity"}} aria-current="page"{{end}}>Activity</a></li>
    <li><a href="{{.InternalURL "/configuration"}}"{{if eq .Route "/configuration"}} aria-current="page"{{end}}>Configuration</a></li>
    <li><a href="{{.InternalURL "/logs"}}"{{if eq .Route "/logs"}} aria-current="page"{{end}}>Logs</a></li>
  </ul>
</nav>{{end}}
